/* 
font-family: 'Bangers', cursive;
*/
#jumboTitle {
    font-family: 'Bangers', cursive;
    font-size: 76px;
    text-align: center;
}

#heroImage {
    width: 100%;
}

/* Survey page */
.container-fluid {
    padding-left: 70px;
}

#surveryTitle {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    background-color: chocolate;
    width: 100%;
}

.form-control {
    width: 50%;
}

#heroPicture {
    width: 100%
}